@import url('./normalize.css');

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-light-alt: rgba(245, 244, 244, 0.4);
	--color-light: rgba(245, 244, 244, 1);
	--border-radius: 8px;
}

html {
	background-image: url("./images/public/background.jpeg");
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	min-width: 1280px;
	height: auto;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: var(--color-light);
}

.wrapper {
	width: 1120px;
	height: 860px;
	margin: 32px auto;
	backdrop-filter: blur(10px);
	border-radius: var(--border-radius);
}

.container {
	margin-inline: auto;
	padding: 32px;
}

.header__inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.search-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 506px;
	height: 48px;
	background-color: var(--color-light-alt);
	border-radius: var(--border-radius);
	padding: 12px 16px;
}

.search-txt {
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 24px;
}

.search-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	padding: 5px;
}

.weather {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.weather__info-day {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	gap: 64px;
}

.weather__data-time-city {
	font-size: 20px;
	font-weight: 400;
}

.weather__title {
	font-size: 24px;
	font-weight: 700;
}

.weather__temp {
	font-size: 112px;
	font-weight: 700;
	line-height: 112px;
}

.weather__other-info {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-weight: 400;
}

.weather__other-info p:first-child::before {
	content: url('./images/weather.png');
	width: 24px;
	aspect-ratio: 1;
	margin-right: 8px;
}


.weather__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 16px;
}

.weather__card {
	width: 158px;
	height: 196px;
	background-color: var(--color-light-alt);
	border-radius: var(--border-radius);
}